In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [11]:
main = pd.read_csv('main.csv')
main

,Month,SKU,Description,Category,Supplier,Sales
0,1,100009,BOOTLEG RED - 750ML,WINE,REPUBLIC NATIONAL DISTRIBUTING CO,80.0
1,1,100012,PAPI P/GRIG - 750ML,WINE,INTERBALT PRODUCTS CORP,1000.0
2,1,100023,CH PARADIS-TERRE DES ANGES ROSE,WINE,PWSWN INC,1000.0
3,1,100024,MOMENT DE PLAISIR - 750ML,WINE,PWSWN INC,2000.0
4,1,100080,KEDEM CREAM RED CONCORD - 750ML,WINE,ROYAL WINE CORP,1000.0
...,...,...,...,...,...,...
150449,12,99770,SMUTTYNOSE SINGLE DIGIT 4/6NR - 12OZ,BEER,KATCEF BROTHERS INC,4500.0
150450,12,99813,DOMINION OAK BARREL STOUT 1/2K,KEGS,COASTAL BREWING COMPANY LLC,2000.0
150451,12,9989,VICTORY STORM KING 4/6NR - 12OZ,BEER,KATCEF BROTHERS INC,5500.0
150452,12,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,COASTAL BREWING COMPANY LLC,92500.0
150453,12,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,BOSTON BEER CORPORATION,16000.0

In [3]:
inventory_info = pd.read_csv('inventory_info.csv')

In [4]:
price_info = pd.read_csv('price_info.csv')

In [8]:
inventory_info['Category'].unique()

array(['WINE', 'BEER', 'LIQUOR', 'KEGS', 'STR_SUPPLIES', 'REF',
       'NON-ALCOHOL', 'DUNNAGE'], dtype=object)

In [9]:
leadtime_info = price_info[['SKU','Category']]
leadtime_info

          SKU Category
0       10346     BEER
1      100009     WINE
2      100012     WINE
3      100023     WINE
4      100024     WINE
...       ...      ...
26308   97799     BEER
26309   99279     BEER
26310   99686     BEER
26311   99770     BEER
26312   99813     KEGS

[26313 rows x 2 columns]

In [10]:
# Define realistic lead time ranges for each category
lead_time_ranges = {
    'WINE': (14, 21),         # 2-3 weeks
    'BEER': (7, 14),          # 1-2 weeks
    'LIQUOR': (10, 20),       # 1.5-3 weeks
    'KEGS': (14, 21),         # 2-3 weeks
    'STR_SUPPLIES': (3, 7),   # 3-7 days
    'REF': (5, 10),           # 5-10 days
    'NON-ALCOHOL': (5, 10),   # 5-10 days
    'DUNNAGE': (3, 7)         # 3-7 days
}

# Function to estimate lead time based on category
def estimate_lead_time(category):
    if category in lead_time_ranges:
        return np.random.randint(lead_time_ranges[category][0], lead_time_ranges[category][1] + 1)
    else:
        return np.nan  # Handle unexpected categories

# Apply the lead time estimation function
leadtime_info['Lead Time (days)'] = leadtime_info['Category'].apply(estimate_lead_time)

leadtime_info

/var/folders/yb/hsk33p551y1cfnnwh8n2gt7r0000gn/T/ipykernel_28799/1711072514.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leadtime_info['Lead Time (days)'] = leadtime_info['Category'].apply(estimate_lead_time)

          SKU Category  Lead Time (days)
0       10346     BEER                12
1      100009     WINE                17
2      100012     WINE                14
3      100023     WINE                14
4      100024     WINE                21
...       ...      ...               ...
26308   97799     BEER                 7
26309   99279     BEER                 8
26310   99686     BEER                12
26311   99770     BEER                14
26312   99813     KEGS                19

[26313 rows x 3 columns]

In [34]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Step 1: Generate a reference for SKU, Category, and Supplier
# Assuming 'main' and 'leadtime_info' are already loaded as DataFrames
# We will sample from these columns randomly

# Number of rows for orders_info
n_rows = 170000

# Sample SKU, Category, and Supplier from the existing dataframes
skus = main['SKU'].unique()
categories = main['Category'].unique()
suppliers = main['Supplier'].unique()

# Randomly sample these columns to create the orders_info dataframe
orders_info = pd.DataFrame({
    'SKU': np.random.choice(skus, size=n_rows),
    'Category': np.random.choice(categories, size=n_rows),
    'Supplier': np.random.choice(suppliers, size=n_rows),
})

# Step 2: Estimate Order Quantity (for example, randomly between 1 and 1000)
orders_info['Order Quantity'] = np.random.randint(1, 1001, size=n_rows)

# Step 3: Generate Order Placed Date (randomly within the last 365 days)
start_date = datetime.now() - timedelta(days=365)
orders_info['Order Placed Date'] = [start_date + timedelta(days=np.random.randint(0, 366)) for _ in range(n_rows)]

# Step 4: Generate Availability as a boolean (randomly either True or False)
orders_info['Availability'] = np.random.choice([True, False], size=n_rows, p=[0.8, 0.2])  # 80% chance for True (availability)

# Display the first few rows
orders_info.head()

,SKU,Category,Supplier,Order Quantity,Order Placed Date,Availability
0,101532,LIQUOR,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True
1,43233,NON-ALCOHOL,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True
2,68271,NON-ALCOHOL,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True
3,42024,DUNNAGE,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True
4,82403,WINE,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True

In [19]:
orders_info

,SKU,Category,Supplier,Order Quantity,Order Placed Date,Availability
0,333477,STR_SUPPLIES,HONIG VINEYARD AND WINERY,759,2024-08-06 02:16:51.448743,True
1,339273,DUNNAGE,PERNOD RICARD USA LLC,423,2024-05-13 02:16:51.448743,True
2,27081,WINE,FREE RUN WINE MERCHANTS LLC,580,2024-02-23 02:16:51.448743,True
3,345936,BEER,BACCHUS IMPORTERS LTD,266,2024-08-20 02:16:51.448743,False
4,33391,KEGS,ZURENA LLC,660,2024-02-19 02:16:51.448743,False
...,...,...,...,...,...,...
169995,67989,NON-ALCOHOL,ASAHI BEER USA INC,628,2024-05-03 02:16:51.448743,False
169996,48880,NON-ALCOHOL,CRAFT WINE & SPIRITS OF MARYLAND LLC,143,2024-02-10 02:16:51.448743,True
169997,68424,BEER,ONE EIGHT DISTILLING LLC,597,2025-01-09 02:16:51.448743,True
169998,39713,NON-ALCOHOL,BBL INC,754,2024-05-02 02:16:51.448743,True
169999,340004,KEGS,A I G WINE & SPIRITS,769,2024-01-17 02:16:51.448743,False

In [28]:
import pandas as pd
import numpy as np

# Assuming orders_info and suppliers are already defined

# Step 1: Generate the availability rates for each supplier using a Beta distribution
n_suppliers = len(suppliers)

# Use Beta distribution to generate availability rates, skewed towards higher values (80%-100%)
availability_rates = np.random.beta(a=5, b=2, size=n_suppliers)  # Skewed towards 1

# Normalize availability so that it's between 0 and 1
availability_rates = availability_rates.clip(0, 1)

# Step 2: Scale and shift availability rates to the 80%-100% range
availability_rates = 0.2 * availability_rates + 0.8  # This will map [0, 1] to [0.8, 1]

# Map the availability rates back to suppliers
supplier_availability = dict(zip(suppliers, availability_rates))

# Step 3: Map the availability rate to the 'Availability' column in orders_info
orders_info['Availability Rate'] = orders_info['Supplier'].map(supplier_availability)

# Step 4: Generate Availability as a boolean (True or False)
# For each order, the availability is True if the random number is less than or equal to the supplier's availability rate
orders_info['Availability'] = np.random.rand(len(orders_info)) <= orders_info['Availability Rate']

# Display the first few rows to check
print(orders_info.head())

      SKU      Category                     Supplier  Order Quantity  \
0  333477  STR_SUPPLIES    HONIG VINEYARD AND WINERY             759
1  339273       DUNNAGE        PERNOD RICARD USA LLC             423
2   27081          WINE  FREE RUN WINE MERCHANTS LLC             580
3  345936          BEER        BACCHUS IMPORTERS LTD             266
4   33391          KEGS                   ZURENA LLC             660

           Order Placed Date  Availability  Availability Rate
0 2024-08-06 02:16:51.448743          True           0.906925
1 2024-05-13 02:16:51.448743          True           0.966723
2 2024-02-23 02:16:51.448743          True           0.972511
3 2024-08-20 02:16:51.448743          True           0.952910
4 2024-02-19 02:16:51.448743          True           0.953818

In [35]:
# Calculate supplier availability rate
supplier_availability_rate = orders_info.groupby('Supplier')['Availability'].mean().reset_index()

# Convert to percentage (multiplying by 100)
supplier_availability_rate['Availability Rate (%)'] = supplier_availability_rate['Availability'] * 100

# Display the availability rates for each supplier
supplier_availability_rate

                       Supplier  Availability  Availability Rate (%)
0                    8 VINI INC      0.812500              81.250000
1               A HARDY USA LTD      0.781971              78.197065
2          A I G WINE & SPIRITS      0.773987              77.398721
3         A VINTNERS SELECTIONS      0.795407              79.540710
4                       A&E INC      0.788382              78.838174
..                          ...           ...                    ...
351                 WINEBOW INC      0.785249              78.524946
352       YOUNG WON TRADING INC      0.802789              80.278884
353           YUENGLING BREWERY      0.815534              81.553398
354  Z WINE GALLERY IMPORTS LLC      0.821739              82.173913
355                  ZURENA LLC      0.805616              80.561555

[356 rows x 3 columns]

In [36]:
orders_info

,SKU,Category,Supplier,Order Quantity,Order Placed Date,Availability
0,101532,LIQUOR,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True
1,43233,NON-ALCOHOL,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True
2,68271,NON-ALCOHOL,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True
3,42024,DUNNAGE,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True
4,82403,WINE,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True
...,...,...,...,...,...,...
169995,73370,REF,AMERICAN BEVERAGE MARKETERS,304,2024-01-24 02:25:33.755627,True
169996,63134,LIQUOR,STE MICHELLE WINE ESTATES,929,2024-08-13 02:25:33.755627,True
169997,353191,KEGS,GRAPES & BARLEY LLC,177,2024-07-26 02:25:33.755627,True
169998,232156,STR_SUPPLIES,LCF WINE COMPANY LLC,486,2024-04-17 02:25:33.755627,True
169999,347566,NON-ALCOHOL,THE HESS COLLECTION,101,2024-05-05 02:25:33.755627,True

In [39]:
import pandas as pd
import numpy as np

# Assuming orders_info and leadtime_info are already defined

# Step 1: Ensure 'Order Placed Date' is in datetime format
orders_info['Order Placed Date'] = pd.to_datetime(orders_info['Order Placed Date'], errors='coerce')

# Step 2: Merge orders_info with leadtime_info to get the expected lead time for each SKU
orders_info = orders_info.merge(leadtime_info[['SKU', 'Lead Time (days)']], on='SKU', how='left')

# Step 3: Estimate the delivery date for orders with availability as True
np.random.seed(42)  # For reproducibility

def estimate_delivery_date(row):
    if row['Availability']:  # For orders with availability as True
        # Ensure the lead time is not NaN (if no match was found in leadtime_info)
        if not pd.isna(row['Lead Time (days)']):
            # Add a random variability (between -5 to +5 days) to the lead time
            lead_time_variability = np.random.randint(-5, 6)
            estimated_lead_time = row['Lead Time (days)'] + lead_time_variability
            
            # Calculate the estimated delivery date by adding lead time to the order date
            order_date = row['Order Placed Date']
            estimated_delivery_date = order_date + pd.Timedelta(days=estimated_lead_time)
            return estimated_delivery_date
        else:
            return pd.NaT  # If lead time is missing, return NA
    else:
        return pd.NaT  # For unavailable orders, set as NA

# Apply the function to estimate delivery dates
orders_info['Estimated Delivery Date'] = orders_info.apply(estimate_delivery_date, axis=1)

# Step 4: Compare the estimated delivery date with the expected delivery date and flag the delivery status
def flag_delivery_status(row):
    if pd.isna(row['Estimated Delivery Date']):
        return pd.NA  # For unavailable orders, return NA
    else:
        expected_delivery_date = row['Order Placed Date'] + pd.Timedelta(days=row['Lead Time (days)'])
        
        # Flag the delivery status based on the comparison
        if row['Estimated Delivery Date'] < expected_delivery_date:
            return 'early'
        elif row['Estimated Delivery Date'] == expected_delivery_date:
            return 'on-time'
        else:
            return 'late'

# Apply the function to flag the delivery status
orders_info['Delivery Status'] = orders_info.apply(flag_delivery_status, axis=1)

# Display the updated dataframe
print(orders_info[['SKU', 'Availability', 'Order Placed Date', 'Estimated Delivery Date', 'Delivery Status']].head())

      SKU  Availability          Order Placed Date    Estimated Delivery Date  \
0  101532          True 2024-03-21 02:25:33.755627 2024-04-09 02:25:33.755627
1   43233          True 2024-10-28 02:25:33.755627 2024-11-15 02:25:33.755627
2   68271          True 2024-04-25 02:25:33.755627 2024-05-07 02:25:33.755627
3   42024          True 2024-09-20 02:25:33.755627 2024-10-08 02:25:33.755627
4   82403          True 2024-05-17 02:25:33.755627 2024-06-06 02:25:33.755627

  Delivery Status
0            late
1           early
2            late
3            late
4           early

In [40]:
orders_info

,SKU,Category,Supplier,Order Quantity,Order Placed Date,Availability,Lead Time (days)_x,Estimated Delivery Date,Expected Delivery Date,Lead Time (days)_y,Lead Time (days),Delivery Status
0,101532,LIQUOR,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True,18,2024-04-09 02:25:33.755627,2024-04-08 02:25:33.755627,18,18,late
1,43233,NON-ALCOHOL,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True,20,2024-11-15 02:25:33.755627,2024-11-17 02:25:33.755627,20,20,early
2,68271,NON-ALCOHOL,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True,7,2024-05-07 02:25:33.755627,2024-05-02 02:25:33.755627,7,7,late
3,42024,DUNNAGE,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True,16,2024-10-08 02:25:33.755627,2024-10-06 02:25:33.755627,16,16,late
4,82403,WINE,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True,21,2024-06-06 02:25:33.755627,2024-06-07 02:25:33.755627,21,21,early
...,...,...,...,...,...,...,...,...,...,...,...,...
169995,73370,REF,AMERICAN BEVERAGE MARKETERS,304,2024-01-24 02:25:33.755627,True,15,2024-02-11 02:25:33.755627,2024-02-08 02:25:33.755627,15,15,late
169996,63134,LIQUOR,STE MICHELLE WINE ESTATES,929,2024-08-13 02:25:33.755627,True,19,2024-09-01 02:25:33.755627,2024-09-01 02:25:33.755627,19,19,on-time
169997,353191,KEGS,GRAPES & BARLEY LLC,177,2024-07-26 02:25:33.755627,True,15,2024-08-05 02:25:33.755627,2024-08-10 02:25:33.755627,15,15,early
169998,232156,STR_SUPPLIES,LCF WINE COMPANY LLC,486,2024-04-17 02:25:33.755627,True,19,2024-05-08 02:25:33.755627,2024-05-06 02:25:33.755627,19,19,late
169999,347566,NON-ALCOHOL,THE HESS COLLECTION,101,2024-05-05 02:25:33.755627,True,18,2024-05-19 02:25:33.755627,2024-05-23 02:25:33.755627,18,18,early

In [51]:

# Check for any missing values in 'SKU' column of both dataframes
print(orders_info['SKU'].isnull().sum())  # Check for NaNs in orders_info SKU
print(leadtime_info['SKU'].isnull().sum())  # Check for NaNs in leadtime_info SKU

# Ensure 'SKU' is of the same type in both dataframes (convert to string if needed)
orders_info['SKU'] = orders_info['SKU'].astype(str)
leadtime_info['SKU'] = leadtime_info['SKU'].astype(str)

# Step 1: Ensure 'Order Placed Date' is in datetime format
orders_info['Order Placed Date'] = pd.to_datetime(orders_info['Order Placed Date'], errors='coerce')

# Step 2: Drop 'Category' from orders_info since we will update it with the one from leadtime_info
orders_info.drop(columns=['Category'], inplace=True, errors='ignore')

# Step 3: Merge orders_info with leadtime_info to get the expected lead time and Category for each SKU
orders_info = orders_info.merge(leadtime_info[['SKU', 'Category', 'Lead Time (days)']], on='SKU', how='left')

0
0

/var/folders/yb/hsk33p551y1cfnnwh8n2gt7r0000gn/T/ipykernel_28799/4133487905.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leadtime_info['SKU'] = leadtime_info['SKU'].astype(str)

In [54]:
orders_info

,SKU,Supplier,Order Quantity,Order Placed Date,Availability,Lead Time (days)_x,Estimated Delivery Date,Expected Delivery Date,Lead Time (days)_y,Lead Time (days)_orders,Delivery Status,Lead Time (days)_leadtime,Category,Lead Time (days)
0,101532,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True,18,2024-04-09 02:25:33.755627,2024-04-08 02:25:33.755627,18,18,late,18,WINE,18
1,43233,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True,20,2024-11-15 02:25:33.755627,2024-11-17 02:25:33.755627,20,20,early,20,WINE,20
2,68271,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True,7,2024-05-07 02:25:33.755627,2024-05-02 02:25:33.755627,7,7,late,7,BEER,7
3,42024,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True,16,2024-10-08 02:25:33.755627,2024-10-06 02:25:33.755627,16,16,late,16,LIQUOR,16
4,82403,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True,21,2024-06-06 02:25:33.755627,2024-06-07 02:25:33.755627,21,21,early,21,WINE,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169995,73370,AMERICAN BEVERAGE MARKETERS,304,2024-01-24 02:25:33.755627,True,15,2024-02-11 02:25:33.755627,2024-02-08 02:25:33.755627,15,15,late,15,LIQUOR,15
169996,63134,STE MICHELLE WINE ESTATES,929,2024-08-13 02:25:33.755627,True,19,2024-09-01 02:25:33.755627,2024-09-01 02:25:33.755627,19,19,on-time,19,WINE,19
169997,353191,GRAPES & BARLEY LLC,177,2024-07-26 02:25:33.755627,True,15,2024-08-05 02:25:33.755627,2024-08-10 02:25:33.755627,15,15,early,15,WINE,15
169998,232156,LCF WINE COMPANY LLC,486,2024-04-17 02:25:33.755627,True,19,2024-05-08 02:25:33.755627,2024-05-06 02:25:33.755627,19,19,late,19,WINE,19
169999,347566,THE HESS COLLECTION,101,2024-05-05 02:25:33.755627,True,18,2024-05-19 02:25:33.755627,2024-05-23 02:25:33.755627,18,18,early,18,WINE,18

In [47]:
leadtime_info[leadtime_info['SKU']==101532]

       SKU Category  Lead Time (days)
24  101532     WINE                18

In [74]:
# Step 4: Estimate the delivery date for orders with availability as True
np.random.seed(42)  # For reproducibility

def estimate_delivery_date(row):
    if row['Availability']:  # For orders with availability as True
        # Ensure the lead time is not NaN (if no match was found in leadtime_info)
        if not pd.isna(row['Lead Time (days)']):
            # Add a random variability (between -5 to +5 days) to the lead time
            lead_time_variability = np.random.randint(-5, 6)
            estimated_lead_time = row['Lead Time (days)'] + lead_time_variability
            
            # Calculate the estimated delivery date by adding lead time to the order date
            order_date = row['Order Placed Date']
            estimated_delivery_date = order_date + pd.Timedelta(days=estimated_lead_time)
            return estimated_delivery_date
        else:
            return pd.NaT  # If lead time is missing, return NA
    else:
        return pd.NaT  # For unavailable orders, set as NA

# Apply the function to estimate delivery dates
orders_info['Estimated Delivery Date'] = orders_info.apply(estimate_delivery_date, axis=1)

# Step 5: Compare the estimated delivery date with the expected delivery date and flag the delivery status
def flag_delivery_status(row):
    if pd.isna(row['Estimated Delivery Date']):
        return pd.NA  # For unavailable orders, return NA
    else:
        expected_delivery_date = row['Order Placed Date'] + pd.Timedelta(days=row['Lead Time (days)'])
        
        # Flag the delivery status based on the comparison
        if row['Estimated Delivery Date'] < expected_delivery_date:
            return 'early'
        elif row['Estimated Delivery Date'] == expected_delivery_date:
            return 'on-time'
        else:
            return 'late'

# Apply the function to flag the delivery status
orders_info['Delivery Status'] = orders_info.apply(flag_delivery_status, axis=1)

# Display the updated dataframe
print(orders_info[['SKU', 'Availability', 'Category', 'Order Placed Date', 'Estimated Delivery Date', 'Delivery Status']].head())

      SKU  Availability Category          Order Placed Date  \
0  101532          True     WINE 2024-03-21 02:25:33.755627
1   43233          True     WINE 2024-10-28 02:25:33.755627
2   68271          True     BEER 2024-04-25 02:25:33.755627
3   42024          True   LIQUOR 2024-09-20 02:25:33.755627
4   82403          True     WINE 2024-05-17 02:25:33.755627

     Estimated Delivery Date Delivery Status
0 2024-04-09 02:25:33.755627            late
1 2024-11-15 02:25:33.755627           early
2 2024-05-07 02:25:33.755627            late
3 2024-10-08 02:25:33.755627            late
4 2024-06-06 02:25:33.755627           early

In [75]:
# Check the column names to see the duplicates
print(orders_info.columns)

# Find all columns with the name 'Expected Delivery Date'
duplicate_columns = orders_info.columns[orders_info.columns == 'Expected Delivery Date'].tolist()

# If there are multiple occurrences of 'Expected Delivery Date'
if len(duplicate_columns) > 1:
    # Rename the first occurrence to 'Actual Delivery Date'
    orders_info.rename(columns={'Expected Delivery Date': 'Actual Delivery Date'}, inplace=True)
    
    # Find the second occurrence (now it's 'Expected Delivery Date' again) and rename it back
    orders_info.rename(columns={'Expected Delivery Date': 'Expected Delivery Date'}, inplace=True)
    
# Verify the changes
print(orders_info.columns)

Index(['SKU', 'Supplier', 'Order Quantity', 'Order Placed Date',
       'Availability', 'Actual Delivery Date', 'Actual Delivery Date',
       'Delivery Status', 'Category', 'Lead Time (days)',
       'Estimated Delivery Date'],
      dtype='object')
Index(['SKU', 'Supplier', 'Order Quantity', 'Order Placed Date',
       'Availability', 'Actual Delivery Date', 'Actual Delivery Date',
       'Delivery Status', 'Category', 'Lead Time (days)',
       'Estimated Delivery Date'],
      dtype='object')

In [85]:
# Calculate the late percentage for each supplier
late_status = orders_info[orders_info['Delivery Status'] == 'late']  # Filter for 'late' deliveries
late_percentage = late_status.groupby('Supplier').size() / orders_info.groupby('Supplier').size() * 100

# Print the late percentage for each supplier
print(late_percentage)

Supplier
8 VINI INC                    37.284483
A HARDY USA LTD               36.897275
A I G WINE & SPIRITS          33.901919
A VINTNERS SELECTIONS         39.665971
A&E INC                       38.381743
                                ...
WINEBOW INC                   33.839479
YOUNG WON TRADING INC         41.633466
YUENGLING BREWERY             38.834951
Z WINE GALLERY IMPORTS LLC    40.869565
ZURENA LLC                    36.069114
Length: 356, dtype: float64

In [86]:
orders_info

,SKU,Supplier,Order Quantity,Order Placed Date,Availability,Actual Delivery Date,Expected Delivery Date,Delivery Status,Category,Lead Time (days),Late
0,101532,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True,2024-04-09 02:25:33.755627,2024-04-08 02:25:33.755627,late,WINE,18,True
1,43233,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True,2024-11-15 02:25:33.755627,2024-11-17 02:25:33.755627,early,WINE,20,False
2,68271,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True,2024-05-07 02:25:33.755627,2024-05-02 02:25:33.755627,late,BEER,7,True
3,42024,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True,2024-10-08 02:25:33.755627,2024-10-06 02:25:33.755627,late,LIQUOR,16,True
4,82403,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True,2024-06-06 02:25:33.755627,2024-06-07 02:25:33.755627,early,WINE,21,False
...,...,...,...,...,...,...,...,...,...,...,...
169995,73370,AMERICAN BEVERAGE MARKETERS,304,2024-01-24 02:25:33.755627,True,2024-02-11 02:25:33.755627,2024-02-08 02:25:33.755627,late,LIQUOR,15,True
169996,63134,STE MICHELLE WINE ESTATES,929,2024-08-13 02:25:33.755627,True,2024-09-01 02:25:33.755627,2024-09-01 02:25:33.755627,on-time,WINE,19,False
169997,353191,GRAPES & BARLEY LLC,177,2024-07-26 02:25:33.755627,True,2024-08-05 02:25:33.755627,2024-08-10 02:25:33.755627,early,WINE,15,False
169998,232156,LCF WINE COMPANY LLC,486,2024-04-17 02:25:33.755627,True,2024-05-08 02:25:33.755627,2024-05-06 02:25:33.755627,late,WINE,19,True
169999,347566,THE HESS COLLECTION,101,2024-05-05 02:25:33.755627,True,2024-05-19 02:25:33.755627,2024-05-23 02:25:33.755627,early,WINE,18,False

In [87]:
import numpy as np

# Set a realistic defect rate, for example 2%
defect_rate = 0.02

# Generate random defect flags (1 = defect, 0 = no defect)
orders_info['defect_flag'] = np.random.choice([0, 1], size=len(orders_info), p=[1-defect_rate, defect_rate])

# Verify the new column
print(orders_info.head())

      SKU                        Supplier  Order Quantity  \
0  101532  THE SPANISH WINE IMPORTERS LLC             935
1   43233              WILSON DANIELS LTD              65
2   68271                  VIN DIVINO LTD             431
3   42024         BOSTON BEER CORPORATION              16
4   82403           CONSTANTINE WINES INC             981

           Order Placed Date  Availability       Actual Delivery Date  \
0 2024-03-21 02:25:33.755627          True 2024-04-09 02:25:33.755627
1 2024-10-28 02:25:33.755627          True 2024-11-15 02:25:33.755627
2 2024-04-25 02:25:33.755627          True 2024-05-07 02:25:33.755627
3 2024-09-20 02:25:33.755627          True 2024-10-08 02:25:33.755627
4 2024-05-17 02:25:33.755627          True 2024-06-06 02:25:33.755627

      Expected Delivery Date Delivery Status Category  Lead Time (days)  \
0 2024-04-08 02:25:33.755627            late     WINE                18
1 2024-11-17 02:25:33.755627           early     WINE                20
2 2024-05-02 02:25:33.755627            late     BEER                 7
3 2024-10-06 02:25:33.755627            late   LIQUOR                16
4 2024-06-07 02:25:33.755627           early     WINE                21

    Late  defect_flag
0   True            0
1  False            0
2   True            0
3   True            0
4  False            0

In [88]:
orders_info

,SKU,Supplier,Order Quantity,Order Placed Date,Availability,Actual Delivery Date,Expected Delivery Date,Delivery Status,Category,Lead Time (days),Late,defect_flag
0,101532,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True,2024-04-09 02:25:33.755627,2024-04-08 02:25:33.755627,late,WINE,18,True,0
1,43233,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True,2024-11-15 02:25:33.755627,2024-11-17 02:25:33.755627,early,WINE,20,False,0
2,68271,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True,2024-05-07 02:25:33.755627,2024-05-02 02:25:33.755627,late,BEER,7,True,0
3,42024,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True,2024-10-08 02:25:33.755627,2024-10-06 02:25:33.755627,late,LIQUOR,16,True,0
4,82403,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True,2024-06-06 02:25:33.755627,2024-06-07 02:25:33.755627,early,WINE,21,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
169995,73370,AMERICAN BEVERAGE MARKETERS,304,2024-01-24 02:25:33.755627,True,2024-02-11 02:25:33.755627,2024-02-08 02:25:33.755627,late,LIQUOR,15,True,0
169996,63134,STE MICHELLE WINE ESTATES,929,2024-08-13 02:25:33.755627,True,2024-09-01 02:25:33.755627,2024-09-01 02:25:33.755627,on-time,WINE,19,False,0
169997,353191,GRAPES & BARLEY LLC,177,2024-07-26 02:25:33.755627,True,2024-08-05 02:25:33.755627,2024-08-10 02:25:33.755627,early,WINE,15,False,0
169998,232156,LCF WINE COMPANY LLC,486,2024-04-17 02:25:33.755627,True,2024-05-08 02:25:33.755627,2024-05-06 02:25:33.755627,late,WINE,19,True,1
169999,347566,THE HESS COLLECTION,101,2024-05-05 02:25:33.755627,True,2024-05-19 02:25:33.755627,2024-05-23 02:25:33.755627,early,WINE,18,False,0

In [89]:
# Calculate the overall defect rate
overall_defect_rate = orders_info['defect_flag'].mean() * 100  # Mean gives the defect rate as percentage
print(f"Overall Defect Rate: {overall_defect_rate:.2f}%")

Overall Defect Rate: 2.01%

In [90]:
# Calculate the defect rate for each supplier
defect_rate_by_supplier = orders_info.groupby('Supplier')['defect_flag'].mean() * 100

# Print the defect rate for each supplier
print("Defect Rate by Supplier:")
print(defect_rate_by_supplier)

Defect Rate by Supplier:
Supplier
8 VINI INC                    0.862069
A HARDY USA LTD               1.467505
A I G WINE & SPIRITS          1.279318
A VINTNERS SELECTIONS         2.296451
A&E INC                       1.659751
                                ...
WINEBOW INC                   2.169197
YOUNG WON TRADING INC         1.394422
YUENGLING BREWERY             1.941748
Z WINE GALLERY IMPORTS LLC    2.391304
ZURENA LLC                    1.943844
Name: defect_flag, Length: 356, dtype: float64

In [91]:
orders_info

,SKU,Supplier,Order Quantity,Order Placed Date,Availability,Actual Delivery Date,Expected Delivery Date,Delivery Status,Category,Lead Time (days),Late,defect_flag
0,101532,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True,2024-04-09 02:25:33.755627,2024-04-08 02:25:33.755627,late,WINE,18,True,0
1,43233,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True,2024-11-15 02:25:33.755627,2024-11-17 02:25:33.755627,early,WINE,20,False,0
2,68271,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True,2024-05-07 02:25:33.755627,2024-05-02 02:25:33.755627,late,BEER,7,True,0
3,42024,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True,2024-10-08 02:25:33.755627,2024-10-06 02:25:33.755627,late,LIQUOR,16,True,0
4,82403,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True,2024-06-06 02:25:33.755627,2024-06-07 02:25:33.755627,early,WINE,21,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
169995,73370,AMERICAN BEVERAGE MARKETERS,304,2024-01-24 02:25:33.755627,True,2024-02-11 02:25:33.755627,2024-02-08 02:25:33.755627,late,LIQUOR,15,True,0
169996,63134,STE MICHELLE WINE ESTATES,929,2024-08-13 02:25:33.755627,True,2024-09-01 02:25:33.755627,2024-09-01 02:25:33.755627,on-time,WINE,19,False,0
169997,353191,GRAPES & BARLEY LLC,177,2024-07-26 02:25:33.755627,True,2024-08-05 02:25:33.755627,2024-08-10 02:25:33.755627,early,WINE,15,False,0
169998,232156,LCF WINE COMPANY LLC,486,2024-04-17 02:25:33.755627,True,2024-05-08 02:25:33.755627,2024-05-06 02:25:33.755627,late,WINE,19,True,1
169999,347566,THE HESS COLLECTION,101,2024-05-05 02:25:33.755627,True,2024-05-19 02:25:33.755627,2024-05-23 02:25:33.755627,early,WINE,18,False,0

In [94]:
import numpy as np

# Set the percentage of accurate orders and the maximum deviation
accuracy_rate = 0.95  # 95% of orders are accurate
deviation_rate = 0.05  # 5% of orders have a deviation
max_deviation = 5  # Maximum deviation in quantity, e.g., Â±2 units

# Simulate 'Quantity Received' column with small deviations, most are accurate
orders_info['Quantity Received'] = orders_info['Order Quantity']  # Start with accurate quantities

# Introduce small deviations for a small percentage of orders
deviations = np.random.choice([0, np.random.randint(1, max_deviation + 1), -np.random.randint(1, max_deviation + 1)],
                              size=len(orders_info), p=[accuracy_rate, deviation_rate / 2, deviation_rate / 2])

# Apply the deviations to the 'Quantity Received'
orders_info['Quantity Received'] = orders_info['Quantity Received'] + deviations

# Ensure the quantity received is always a whole number (integer)
orders_info['Quantity Received'] = np.round(orders_info['Quantity Received']).astype(int)

# Create 'Quantity Accuracy' flag: 1 if Quantity Received matches Order Quantity, 0 otherwise
orders_info['Quantity Accuracy'] = np.where(orders_info['Order Quantity'] == orders_info['Quantity Received'], 1, 0)

orders_info

,SKU,Supplier,Order Quantity,Order Placed Date,Availability,Actual Delivery Date,Expected Delivery Date,Delivery Status,Category,Lead Time (days),Late,defect_flag,Quantity Received,Quantity Accuracy
0,101532,THE SPANISH WINE IMPORTERS LLC,935,2024-03-21 02:25:33.755627,True,2024-04-09 02:25:33.755627,2024-04-08 02:25:33.755627,late,WINE,18,True,0,932,0
1,43233,WILSON DANIELS LTD,65,2024-10-28 02:25:33.755627,True,2024-11-15 02:25:33.755627,2024-11-17 02:25:33.755627,early,WINE,20,False,0,65,1
2,68271,VIN DIVINO LTD,431,2024-04-25 02:25:33.755627,True,2024-05-07 02:25:33.755627,2024-05-02 02:25:33.755627,late,BEER,7,True,0,431,1
3,42024,BOSTON BEER CORPORATION,16,2024-09-20 02:25:33.755627,True,2024-10-08 02:25:33.755627,2024-10-06 02:25:33.755627,late,LIQUOR,16,True,0,16,1
4,82403,CONSTANTINE WINES INC,981,2024-05-17 02:25:33.755627,True,2024-06-06 02:25:33.755627,2024-06-07 02:25:33.755627,early,WINE,21,False,0,978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169995,73370,AMERICAN BEVERAGE MARKETERS,304,2024-01-24 02:25:33.755627,True,2024-02-11 02:25:33.755627,2024-02-08 02:25:33.755627,late,LIQUOR,15,True,0,304,1
169996,63134,STE MICHELLE WINE ESTATES,929,2024-08-13 02:25:33.755627,True,2024-09-01 02:25:33.755627,2024-09-01 02:25:33.755627,on-time,WINE,19,False,0,929,1
169997,353191,GRAPES & BARLEY LLC,177,2024-07-26 02:25:33.755627,True,2024-08-05 02:25:33.755627,2024-08-10 02:25:33.755627,early,WINE,15,False,0,177,1
169998,232156,LCF WINE COMPANY LLC,486,2024-04-17 02:25:33.755627,True,2024-05-08 02:25:33.755627,2024-05-06 02:25:33.755627,late,WINE,19,True,1,486,1
169999,347566,THE HESS COLLECTION,101,2024-05-05 02:25:33.755627,True,2024-05-19 02:25:33.755627,2024-05-23 02:25:33.755627,early,WINE,18,False,0,101,1

In [95]:
# Calculate the overall Quantity Accuracy Rate
quantity_accuracy_rate = orders_info['Quantity Accuracy'].mean()

# Print the result as a percentage
print(f"Quantity Accuracy Rate: {quantity_accuracy_rate * 100:.2f}%")

Quantity Accuracy Rate: 94.97%

In [99]:
# Specify the new order of columns as a list
new_column_order = [
    'SKU', 'Category', 'Supplier','Order Placed Date', 'Availability', 'Expected Delivery Date', 'Order Quantity', 'Actual Delivery Date', 'Quantity Received', 'Quantity Accuracy',
    'Delivery Status', 'defect_flag'
]

# Rearrange the columns in the DataFrame
orders_info = orders_info[new_column_order]

# Verify the new column order
print(orders_info.head())

      SKU Category                        Supplier          Order Placed Date  \
0  101532     WINE  THE SPANISH WINE IMPORTERS LLC 2024-03-21 02:25:33.755627
1   43233     WINE              WILSON DANIELS LTD 2024-10-28 02:25:33.755627
2   68271     BEER                  VIN DIVINO LTD 2024-04-25 02:25:33.755627
3   42024   LIQUOR         BOSTON BEER CORPORATION 2024-09-20 02:25:33.755627
4   82403     WINE           CONSTANTINE WINES INC 2024-05-17 02:25:33.755627

   Availability     Expected Delivery Date  Order Quantity  \
0          True 2024-04-08 02:25:33.755627             935
1          True 2024-11-17 02:25:33.755627              65
2          True 2024-05-02 02:25:33.755627             431
3          True 2024-10-06 02:25:33.755627              16
4          True 2024-06-07 02:25:33.755627             981

        Actual Delivery Date  Quantity Received  Quantity Accuracy  \
0 2024-04-09 02:25:33.755627                932                  0
1 2024-11-15 02:25:33.755627                 65                  1
2 2024-05-07 02:25:33.755627                431                  1
3 2024-10-08 02:25:33.755627                 16                  1
4 2024-06-06 02:25:33.755627                978                  0

  Delivery Status  defect_flag
0            late            0
1           early            0
2            late            0
3            late            0
4           early            0

In [100]:
# Renaming specific columns in orders_info
orders_info.rename(columns={
    'defect_flag': 'Defect Flag',
}, inplace=True)

orders_info

/var/folders/yb/hsk33p551y1cfnnwh8n2gt7r0000gn/T/ipykernel_28799/155906942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_info.rename(columns={

,SKU,Category,Supplier,Order Placed Date,Availability,Expected Delivery Date,Order Quantity,Actual Delivery Date,Quantity Received,Quantity Accuracy,Delivery Status,Defect Flag
0,101532,WINE,THE SPANISH WINE IMPORTERS LLC,2024-03-21 02:25:33.755627,True,2024-04-08 02:25:33.755627,935,2024-04-09 02:25:33.755627,932,0,late,0
1,43233,WINE,WILSON DANIELS LTD,2024-10-28 02:25:33.755627,True,2024-11-17 02:25:33.755627,65,2024-11-15 02:25:33.755627,65,1,early,0
2,68271,BEER,VIN DIVINO LTD,2024-04-25 02:25:33.755627,True,2024-05-02 02:25:33.755627,431,2024-05-07 02:25:33.755627,431,1,late,0
3,42024,LIQUOR,BOSTON BEER CORPORATION,2024-09-20 02:25:33.755627,True,2024-10-06 02:25:33.755627,16,2024-10-08 02:25:33.755627,16,1,late,0
4,82403,WINE,CONSTANTINE WINES INC,2024-05-17 02:25:33.755627,True,2024-06-07 02:25:33.755627,981,2024-06-06 02:25:33.755627,978,0,early,0
...,...,...,...,...,...,...,...,...,...,...,...,...
169995,73370,LIQUOR,AMERICAN BEVERAGE MARKETERS,2024-01-24 02:25:33.755627,True,2024-02-08 02:25:33.755627,304,2024-02-11 02:25:33.755627,304,1,late,0
169996,63134,WINE,STE MICHELLE WINE ESTATES,2024-08-13 02:25:33.755627,True,2024-09-01 02:25:33.755627,929,2024-09-01 02:25:33.755627,929,1,on-time,0
169997,353191,WINE,GRAPES & BARLEY LLC,2024-07-26 02:25:33.755627,True,2024-08-10 02:25:33.755627,177,2024-08-05 02:25:33.755627,177,1,early,0
169998,232156,WINE,LCF WINE COMPANY LLC,2024-04-17 02:25:33.755627,True,2024-05-06 02:25:33.755627,486,2024-05-08 02:25:33.755627,486,1,late,1
169999,347566,WINE,THE HESS COLLECTION,2024-05-05 02:25:33.755627,True,2024-05-23 02:25:33.755627,101,2024-05-19 02:25:33.755627,101,1,early,0

In [101]:
orders_info.to_csv('orders_info.csv', index=False)

In [102]:
leadtime_info.to_csv('leadtime_info.csv', index=False)

In [104]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150454 entries, 0 to 150453
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Month        150454 non-null  int64
 1   SKU          150454 non-null  int64
 2   Description  150454 non-null  object
 3   Category     150454 non-null  object
 4   Supplier     150454 non-null  object
 5   Sales        150454 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 6.9+ MB